@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0b2434;
}
.game-box {
  display: flex;
  flex-direction: column;
  width: 320px;
  /* height: 320px; */
  padding: 33.28px 34.56px 33.92px 34.56px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
}
.game-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
.game-title > h1 {
  color: #2b283a;
  text-align: center;
  font-size: 25.6px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.768px;
}
.game-title > p {
  width: 232px;
  color: #4a4e74;
  text-align: center;
  font-size: 13.107px;
  font-weight: 400;
  letter-spacing: -0.393px;
}
.tenzies {
  display: flex;
  flex-wrap: wrap;
  gap: 17.92px;
}
.dice {
  width: 35.84px;
  height: 35.84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.813px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #2b283a;
  text-align: center;
  font-size: 20.589px;
  font-weight: 700;
  cursor: pointer;
}
.locked {
   background: #59E391;
}
button {
  background-color: #5035ff;
  border: none;
  margin-top: 26px;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 21px;

  color: #fff;
  text-align: center;
  font-size: 16.384px;
  font-weight: 700;
}
.change {
  display: flex;
  gap: 10px;
}
.count{
  color: #4a4e74;
  text-align: center;
  font-size: 13.107px;
  font-weight: 400;
  margin-top: 10px;
}